src/main/java/com/czht/smartpark/tbweb/modular/webservice/msg/sms.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="SmsServiceImplService"
	targetNamespace="http://ns.leadal.com/sms" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ns.leadal.com/sms"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://ns.leadal.com/sms"
			version="1.0" xmlns:tns="http://ns.leadal.com/sms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="sendSms" type="tns:sendSms" />
			<xs:element name="sendSmsResponse" type="tns:sendSmsResponse" />
			<xs:complexType name="sendSms">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:sms" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sms">
				<xs:sequence>
					<xs:element minOccurs="0" name="content" type="xs:string" />
					<xs:element minOccurs="0" name="mobile" type="xs:string" />
					<xs:element minOccurs="0" name="receiveUserId" type="xs:string" />
					<xs:element minOccurs="0" name="receiveUserName" type="xs:string" />
					<xs:element minOccurs="0" name="sendUserId" type="xs:string" />
					<xs:element minOccurs="0" name="sendUserName" type="xs:string" />
					<xs:element minOccurs="0" name="systemName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sendSmsResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sendSmsResponse">
		<wsdl:part element="tns:sendSmsResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendSms">
		<wsdl:part element="tns:sendSms" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SmsService">
		<wsdl:operation name="sendSms">
			<wsdl:input message="tns:sendSms" name="sendSms">
			</wsdl:input>
			<wsdl:output message="tns:sendSmsResponse" name="sendSmsResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SmsServiceImplServiceSoapBinding"
		type="tns:SmsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendSms">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sendSms">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendSmsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmsServiceImplService">
		<wsdl:port binding="tns:SmsServiceImplServiceSoapBinding"
			name="SmsServiceImplPort">
			<soap:address location="http://192.168.2.50:8080/services/SmsService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>